.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  cursor: pointer;

  transition: $standartTrans;
  height: fit-content;
  width: fit-content;
}
