.custom-radio {
  position: absolute;
  opacity: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 2;

  &+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    &:before {
      content: '';
      display: inline-block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      border-radius: 50%;
      flex-grow: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 125% 110%;
      margin-right: 12px;
    }
  }

  //&:checked+label::before {
  //  border: 2px solid #fff;
  //  outline: 1px solid #000;
  //}


}

.card-detail__radio-color {
  .custom-radio:disabled {
    cursor: initial;
  }

  .custom-radio:disabled+label {
    opacity: 0.6;
    position: relative;
    bottom: 2px;
  }

  .custom-radio:disabled+label:before {
    content: '';
    display: flex;
    height: 1px;
    width: 24px;
    background: #fff;
    rotate: 45deg;
  }
}

.card-detail__radio-color {
  .custom-radio:checked+label::before {
    border: 2px solid #fff;
    outline: 1px solid #000;
  }
}

.card-detail__radio-size {
  .form-control__text {
    position: relative;
  }

  span {
    position: absolute;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .custom-radio:checked + label span {
    text-decoration: underline;
  }

  .custom-radio:disabled + label span {
    color: #909090;
  }
}
