.non-existent-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 40px 0 180px;

  @include media(991) {
    padding: 40px 16px;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #909090;
    text-align: center;

    a {
      color: #000;
    }
  }
}
