.cart-good {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  padding-left: 0;
  border-bottom: 1px solid #cecece;

  &.disabled {
    opacity: 0.5;
    filter: grayscale(1);
  }

  &__img {
    width: 115px;
    height: 140px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      object-fit: contain;
      width: 100%;
      height: inherit;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    height: 100%;

    &-detail {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &_item {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: #909090;
      }
    }
  }

  &__title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__title {
    font-weight: 400;
    font-size: 24px;
    text-transform: uppercase;
    color: #000;
  }

  &__article {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    color: #909090;
  }

  &__values {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    margin-top: auto;

    &-price-wrapper {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-price {
      font-weight: 500;
      font-size: 20px;
      text-transform: uppercase;
      color: #000;

      &.cart-good__values-price_old {
        color: #909090;
        text-decoration: line-through;
      }
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 16px;

    .good-fav {
      position: static;
      opacity: 1;

      &:hover svg path {
        stroke: #000;
      }

      &.active svg path {
        stroke: #000;
      }
    }
  }
}

@include media(700) {
  .cart-good {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
    gap: 20px;
    position: relative;
  }

  .cart-good__info {
    margin-left: 0;
    width: 100%;
    gap: 20px;
  }

  .cart-good__title-wrapper {
    margin-bottom: 0;
  }

  .cart-good__icons {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
