// =====================================================================================================================
.header {
  width: -webkit-fill-available;
  width: -moz-available;
  background: #fff;
  margin: 10px;
  padding: 6px 0;

  &-profile {
    span {
      pointer-events: none;
    }
  }

  &.sticky {
    // ..стили для липкого хедера
    position: fixed;
    top: 0;
    z-index: 100;
    background: #fff;
  }

  &-search {
      &__clear {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: #909090;
        text-decoration: underline;
        display: none;
      }

    &__results {
      position: absolute;
      width: 100%;
      padding: 16px;
      background: #fff;
      z-index: -1;
      left: 0;
      top: 35px;
      display: none;
      gap: 40px;
      opacity: 0;

      &_links {
        display: flex;
        flex-direction: column;
        gap: 34px;
        width: 160px;
        white-space: nowrap;
      }

      &_main-link {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #000;
      }

      &_other-links {
        font-weight: 400;
        font-size: 12px;
        text-transform: uppercase;
        color: #000;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      &_show-more-links {
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        color: #909090;
        padding-bottom: 3px;
        border-bottom: 1px solid #909090;
        width: fit-content;
        margin-top: auto;
      }

      &_photos {
        display: flex;
        gap: 4px;
        overflow-x: auto;
        overflow-y: hidden;

        @supports not selector(::-webkit-scrollbar) {
          scrollbar-color: #fff #fff;
          scrollbar-width: thin;
        }

        &::-webkit-scrollbar {
          width: 0.1px;
          height: 0.1px;
          background-color: #fff;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #fff;
        }

        &::-webkit-scrollbar-track {
          background: transparent;
        }
      }

      &_card {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &-img-wrapper {
          width: 154px;
          height: 260px;

          img {
            width: inherit;
          }
        }

        &-title {
          font-weight: 500;
          font-size: 14px;
          text-transform: uppercase;
          color: #000;
        }
      }

    }
  }

  // .header__container
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &-left {
    display: flex;
    align-items: center;
    gap: 85px;
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 40px;

    &__item {
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: #000;
    }
  }

  &-city {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
  }

  &-catalog {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    margin-left: 10px;
    gap: 16px;

    & > .js-dropdown__option {
      max-height: 800px;
      overflow: auto;

      @include media(600) {
        padding-bottom: 100px !important;
      }
    }

    span {
      pointer-events: none;
    }

    &__burger {
      display: block;
      position: relative;
      width: 24px;
      height: 10px;
      cursor: pointer;
      z-index: 5;
      transition: all 300ms ease 0ms;
      pointer-events: none;

      &:before {
        content: "";
        transition: all 300ms ease 0ms;
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
      }

      span {
        transition: all 300ms ease 0ms;
        right: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #000;
        top: 6px;
        pointer-events: none;
      }
    }

    &.active {
      .header-catalog__burger {
        &:before {
          rotate: 45deg;
          top: 4px;
          width: 14px;
        }

        span {
          rotate: -45deg;
          top: 4px;
          width: 14px;
        }
      }

    }

    &:after {
      display: none;
    }

    .js-dropdown__option {
      width: 363px;
      padding: 41px 40px;

      .header-search,
      .header-city,
      .header-catalog__links:last-child {
        display: none;
      }

      .header-catalog__accordion {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .header-catalog__title {
        display: flex;
        align-items: center;
        font-size: 16px;
        gap: 12px;

        svg {
          transition: $standartTrans;
        }

        &.active {
          svg {
            rotate: 180deg;
            transition: $standartTrans;
          }
        }
      }

      .header-catalog__content {
        height: 0;
        overflow: hidden;
        transition: 0.35s;

        &.active {
          margin-top: 10px;
        }
      }

      .header-catalog__links {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;

        a {
          font-size: 16px;
        }
      }
    }
  }

  &-search {
    border-bottom: 1px solid #000;
    padding: 5px 6px;
    width: 234px;
    height: 24px;
    transition: $standartTrans;
    position: relative;
    cursor: pointer;
    display: flex;
    align-self: center;

    &.active {
      padding: 10px 16px;
      width: 710px;
      height: 33px;

      .header-search__clear {
        display: block;
      }

      .header-search__results {
        opacity: 1;
        z-index: 2;
        display: flex;
      }

      svg:nth-child(4) {
        opacity: 0;
        position: relative;
        z-index: -1;
      }

      svg:last-child {
        opacity: 1;
      }
    }

    &:hover {
      scale: 1.01;
    }

    input {
      width: 94%;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      color: #000;

      &::placeholder {
        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #000;
      }
    }

    svg {
      transition: $standartTrans;
      display: flex;
      align-self: center;

      &:last-child {
        position: absolute;
        right: 0;
        opacity: 0;
      }
    }
  }

  &-cart {
    margin-left: 22px;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    svg, span {
      pointer-events: none;
    }
    //a {
    //  display: flex;
    //  align-items: center;
    //  gap: 8px;
    //}

    .header-card__value {
      border-radius: 30px;
      padding: 4px 6px;
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #000;
      font-weight: 500;
      font-size: 11px;
      text-transform: uppercase;
      color: #fff;
    }

  }
}

@include media(1650) {
  .header-search.active {
    width: 550px;
  }
}

@include media(1350) {
  .header-search.active {
    width: 234px;
  }
}

@include media(991) {
  .header-search {
    width: auto;

    &.active {
      width: auto;
    }
  }

  .header-left,
  .header-right {
    gap: 20px;
  }
}

@include media(700) {
  .header-left {
    gap: 20px;
    & > .header-city {
      display: none;
    }
  }

  .header-catalog {
    margin-left: 0;

    .js-dropdown__option {
      box-shadow: none !important;
      .header-catalog__links:last-child {
        display: flex;
      }
    }

    & > span {
      display: none;
    }

    .header-search {

    }

    & > .js-dropdown__option {
      position: fixed;
      top: $headerHeight;
      margin: 20px 10px;
      width: 95%;
      gap: 40px;

      .header-search {
        display: flex;
        max-width: 234px;
        width: 100%;
        align-self: baseline;
        height: 29px;

        input {
          font-size: 16px;

          &::placeholder {
            font-size: 16px;
          }
        }
      }

      .header-catalog__links{
        margin-top: 0;
      }
    }

    .header-city {
      flex-direction: column;
      position: relative;
      align-items: baseline;
      font-size: 16px;
      margin-top: -8;
      display: flex !important;


      &.active {
        .js-dropdown__option {
          height: auto;
        }
      }

      &:after {
        position: absolute;
        left: 70px;
        margin-top: 3px;
      }
      .js-dropdown__option {
        position: static;
        padding: 0;
        height: 0;
        overflow: hidden;
      }
    }
  }

  .header-search {
    display: none;
  }

  .header-right__item {
    span {
      display: none;
    }
  }

  .header-cart {
    margin-left: 0;
  }
}

@include media(360) {
  .header-catalog > .js-dropdown__option {
    height: 480px;
    overflow: auto;
  }
}
