<div class="account-good @@class">
    <div class="cart-good__wrapper">
        <div class="cart-good__item">
            <div class="cart-good__img">
                <img src="@@src" alt="Olso">
            </div>

            <div class="cart-good__info">
                <div class="cart-good__title-wrapper">
                    <div class="cart-good__title">
                        @@title
                    </div>

                    <div class="cart-good__article">
                        @@article
                    </div>
                </div>

                <div class="cart-good__info-detail">
                    <div class="cart-good__info-detail_item cart-good__color">
                        цвет: <span>белый</span>
                    </div>

                    <div class="cart-good__info-detail_item cart-good__size">
                        размер: <span>M</span>
                    </div>
                </div>

                <div class="cart-good__values cart-good__values_desk">

                    <div class="cart-good__values-price-wrapper">
                        <div class="cart-good__values-price">
                            <span>699</span> ₽
                        </div>

                        <div class="cart-good__values-price cart-good__values-price_old">
                            <span>1 199 </span> ₽
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="cart-good__status-info">
            <div class="cart-good__title-wrapper">
                <div class="cart-good__title">
                    № 76592
                </div>

                <div class="cart-good__status">
                    @@statusText
                </div>
            </div>

            <div class="cart-good__date">
                <div class="cart-good__flex">
                    <div class="cart-good__info-detail_item ">
                        дата оформления:
                    </div>

                    <div class="cart-good__info-detail_date ">
                        08.08.2024
                    </div>
                </div>

                <div class="cart-good__flex">
                    <div class="cart-good__info-detail_item ">
                        дата доставки:
                    </div>

                    <div class="cart-good__info-detail_date ">
                        20.08.2024
                    </div>
                </div>
            </div>



            <div class="cart-good__price">
                <div class="cart-good__values cart-good__flex cart-good__values_mob ">
                    <div class="cart-good__info-detail_item ">
                        Cтоимость
                    </div>

                    <div class="cart-good__values-price-wrapper">
                        <div class="cart-good__values-price">
                            <span>699</span> ₽
                        </div>

                        <div class="cart-good__values-price cart-good__values-price_old">
                            <span>1 199 </span> ₽
                        </div>
                    </div>
                </div>
                <div class="cart-good__flex">
                    <div class="cart-good__info-detail_item ">
                        доставка
                    </div>

                    <div class="cart-good__info-detail_price ">
                        404 ₽
                    </div>
                </div>

                <div class="cart-good__flex">
                    <div class="cart-good__info-detail_item ">
                        Итого
                    </div>

                    <div class="cart-good__info-detail_total-price ">
                        12 684 ₽
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="cart-good__btn" data-type="return">
        оформить возврат
    </div>



</div>
