<div class="popup typical-popup address-popup" data-popup="address">
    <div class="popup-wrapper">
        <div class="close-popup button-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="black" />
                <path d="M1 1L13 13" stroke="black" />
            </svg>
        </div>
        <div class="popup-content">
            <div class="typical-popup__title">
                адрес доставки
            </div>


            <div class="pick-up-popup__choose-spot">
                <div class="choose-spot__item active">
                    <div class="choose-spot__info">
                        <div class="choose-spot__title">
                            ТРЦ «Седьмое небо»
                        </div>
                        <div class="choose-spot__text">
                            г. Нижний Новгород, ул.Бетанкура 1
                        </div>
                    </div>

                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 4L4 7L10 1" stroke="black" stroke-width="1.5" />
                    </svg>
                </div>

                <div class="choose-spot__item">
                    <div class="choose-spot__info">
                        <div class="choose-spot__title">
                            СТОК-МАГАЗИН ГОРЬКОГО
                        </div>
                        <div class="choose-spot__text">
                            г. Нижний Новгород, ул.М.Покровская д. 6,к 2
                        </div>
                    </div>

                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 4L4 7L10 1" stroke="black" stroke-width="1.5" />
                    </svg>
                </div>

                <div class="choose-spot__item">
                    <div class="choose-spot__info">
                        <div class="choose-spot__title">
                            ТРЦ «ФАНТАСТИКА»
                        </div>
                        <div class="choose-spot__text">
                            г. Нижний Новгород, ул. Родионова, д.187 В
                        </div>
                    </div>

                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 4L4 7L10 1" stroke="black" stroke-width="1.5" />
                    </svg>
                </div>

                <div class="choose-spot__item">
                    <div class="choose-spot__info">
                        <div class="choose-spot__title">
                            сдэк
                        </div>
                        <div class="choose-spot__text">
                            г. Нижний Новгород, ул.М.Покровская д. 6,к 2
                        </div>
                    </div>

                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 4L4 7L10 1" stroke="black" stroke-width="1.5" />
                    </svg>
                </div>

                <div class="choose-spot__item">
                    <div class="choose-spot__info">
                        <div class="choose-spot__title">
                            сдэк
                        </div>
                        <div class="choose-spot__text">
                            г. Нижний Новгород, ул. Родионова, д.187 В
                        </div>
                    </div>

                    <svg width="11" height="9" viewBox="0 0 11 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 4L4 7L10 1" stroke="black" stroke-width="1.5" />
                    </svg>
                </div>
            </div>

            <div class="typical-popup__btns">
                <div class="typical-popup__link button-close" data-type="add-address">
                    добавить новый адрес
                </div>

                <div class="btn typical-popup__btn ">
                    применить
                </div>
            </div>
        </div>

    </div>
</div>
