<div class="popup typical-popup color-popup _is-open" data-popup="color-popup">
    <div class="popup-wrapper">
        <div class="close-popup button-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="black" />
                <path d="M1 1L13 13" stroke="black" />
            </svg>
        </div>
        <div class="popup-content">
            <div class="typical-popup__title">
                выберите цвет и размер
            </div>

            <div class="filter-accordion__item">
                <div class="filter-accordion__title active">
                    <span>цвет</span>
                </div>
                <div class="filter-accordion__content active">
                    <div class="filter-accordion__content-wrapper">
                        <label>
                            <input id="color1" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color1" class="form-control__text">
                                <span>
                                    бежевый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color2" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color2" class="form-control__text">
                                <span>
                                    принт
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color3" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color3" class="form-control__text">
                                <span>
                                    белый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color4" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color4" class="form-control__text">
                                <span>
                                    Розовый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color5" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color5" class="form-control__text">
                                <span>
                                    желтый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color6" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color6" class="form-control__text">
                                <span>
                                    Серый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color7" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color7" class="form-control__text">
                                <span>
                                    зеленый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color8" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color8" class="form-control__text">
                                <span>
                                    Синий
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color9" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color9" class="form-control__text">
                                <span>
                                    Коричневый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color10" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color10" class="form-control__text">
                                <span>
                                    Сиреневый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color11" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color11" class="form-control__text">
                                <span>
                                    Красный
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color12" class="custom-checkbox" type="radio" name="color" required="">
                            <label for="color12" class="form-control__text">
                                <span>
                                    Черный
                                </span>
                            </label>
                        </label>
                    </div>

                </div>
            </div>

            <div class="filter-accordion__item">
                <div class="filter-accordion__title active">
                    <span>размер</span>
                </div>
                <div class="filter-accordion__content filter-accordion__content_size active">
                    <div class="filter-accordion__content-wrapper">
                        <label>
                            <input id="size1" class="custom-checkbox" type="radio" name="size" required="">
                            <label for="size1" class="form-control__text">
                                <span>
                                    XS
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="size5" class="custom-checkbox" type="radio" name="size" required="">
                            <label for="size5" class="form-control__text">
                                <span>
                                    M
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="size4" class="custom-checkbox" type="radio" name="size" required="">
                            <label for="size4" class="form-control__text">
                                <span>
                                    One size
                                </span>
                            </label>
                        </label>



                        <label>
                            <input id="size3" class="custom-checkbox" type="radio" name="size" required="">
                            <label for="size3" class="form-control__text">
                                <span>
                                    S
                                </span>
                            </label>
                        </label>


                        <label>
                            <input id="size2" class="custom-checkbox" type="radio" name="size" required="">
                            <label for="size2" class="form-control__text">
                                <span>
                                    L
                                </span>
                            </label>
                        </label>


                    </div>

                </div>
            </div>

            <div class="filter-btn-wrapper color-popup__btns">
                <div class="filter-btn color-popup__btn">
                    добавить в корзину
                </div>

                <div class="filter-btn color-popup__btn">
                    сбросить выбор
                </div>
            </div>

        </div>

    </div>
</div>
