<div class="popup typical-popup return-popup" data-popup="delete">
    <div class="popup-wrapper">
        <div class="close-popup button-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="black" />
                <path d="M1 1L13 13" stroke="black" />
            </svg>
        </div>
        <div class="popup-content">
            <div class="typical-popup__title">
                удаление аккаунта
            </div>

            <div class="typical-popup__text">
                Вы уверены в том, что хотите удалить аккаунт?
            </div>


            <div class="typical-popup__btns">
                <a href="#" class="typical-popup__link">
                    личный кабинет
                </a>

                <div class="btn typical-popup__btn ">
                    да, удалить аккаунт
                </div>
            </div>
        </div>

    </div>
</div>
