<div class="popup payment-popup" data-popup="payment-popup">
    <div class="popup-wrapper">
        <div class="close-popup button-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="black" />
                <path d="M1 1L13 13" stroke="black" />
            </svg>
        </div>

        <div class="popup-content">

            <div class="popup__title">
                Оплатите сейчас 25%
                от стоимости покупки
            </div>

            <div class="popup__text">
                Оставшиеся 3 части спишутся автоматически с шагом в две недели
            </div>

            <div class="payment-popup__price">
                <div class="payment-popup__price-item active">
                    <div class="popup__text">
                        платеж сегодня
                    </div>
                    <div class="popup__text_price">
                        506 ₽
                    </div>
                </div>

                <div class="payment-popup__price-item">
                    <div class="popup__text">
                        Через 2 недели
                    </div>
                    <div class="popup__text_price">
                        506 ₽
                    </div>
                </div>

                <div class="payment-popup__price-item">
                    <div class="popup__text">
                        Через 4 недели
                    </div>
                    <div class="popup__text_price">
                        506 ₽
                    </div>
                </div>

                <div class="payment-popup__price-item">
                    <div class="popup__text">
                        Через 6 недель
                    </div>
                    <div class="popup__text_price">
                        506 ₽
                    </div>
                </div>
            </div>

            <div class="popup__text">
                Подробности на <a href="split.yandex.ru">split.yandex.ru</a>
            </div>

            <div class="popup__text">
                Для оплаты частями положите товар в корзину и при оформлении заказа выберите соответствующий способ оплаты.
            </div>
        </div>
    </div>
</div>
