<div class="popup typical-popup return-popup" data-popup="return">
    <div class="popup-wrapper">
        <div class="close-popup button-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="black" />
                <path d="M1 1L13 13" stroke="black" />
            </svg>
        </div>
        <div class="popup-content">
            <div class="typical-popup__title">
                возврат товара
            </div>

            <form class="restore-block">
                <h2>Прикрепите фото и укажите причину, по которой вы бы хотели запросить возврат</h2>


                <div class="restore-block__wrapper">
                    <span class="input-file__placeholder">
                        Загрузить фотографию
                    </span>
                    <input type="file" id="fileInput" accept="image/*" multiple>

                    <div class="image-preview" id="imagePreview"></div>
                </div>


                <input type="text" placeholder="причина возврата *" required>

            </form>




            <div class="typical-popup__btns">
                <a href="#" class="typical-popup__link">
                    личный кабинет
                </a>

                <div class="btn typical-popup__btn ">
                    отправить
                </div>
            </div>
        </div>

    </div>
</div>
