<div class="popup size-popup" data-popup="size-popup">
    <div class="popup-wrapper">
        <div class="close-popup button-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="black" />
                <path d="M1 1L13 13" stroke="black" />
            </svg>
        </div>

        <div class="popup-content">
            <div class="popup-content__img-wrapper">
                <img src="images/p1.svg" alt="Olso">
                <img src="images/p1.svg" alt="Olso">
            </div>

            <div class="popup__table-wrapper">
                <div class="popup__title">
                    Обмеры изделия, см
                </div>

                <div class="table-sizes__wrapper">
                    <table class="table-sizes" width="100%">
                        <tbody>
                        <tr>
                            <th>
                                размер
                            </th>
                            <th>
                                XS
                            </th>
                            <th>
                                S
                            </th>
                            <th>
                                M
                            </th>
                            <th>
                                L
                            </th>

                        </tr>
                        <tr>
                            <td>
                                Длина изделия по спинке
                            </td>
                            <td>
                                45
                            </td>
                            <td>
                                46
                            </td>
                            <td>
                                47
                            </td>
                            <td>
                                48
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Длина рукава
                            </td>
                            <td>
                                58
                            </td>
                            <td>
                                58
                            </td>
                            <td>
                                59
                            </td>
                            <td>
                                59
                            </td>

                        </tr>
                        <tr>
                            <td>
                                Обхват талии
                            </td>
                            <td>
                                63
                            </td>
                            <td>
                                67
                            </td>
                            <td>
                                71
                            </td>
                            <td>
                                75
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Ширина плеч
                            </td>
                            <td>
                                34
                            </td>
                            <td>
                                35
                            </td>
                            <td>
                                36
                            </td>
                            <td>
                                37
                            </td>

                        </tr>

                        <tr>
                            <td>
                                Обхват груди
                            </td>
                            <td>
                                76
                            </td>
                            <td>
                                80
                            </td>
                            <td>
                                84
                            </td>
                            <td>
                                88
                            </td>

                        </tr>

                        <tr>
                            <td>
                                глубина выреза
                            </td>
                            <td>
                                14
                            </td>
                            <td>
                                14
                            </td>
                            <td>
                                14
                            </td>
                            <td>
                                15
                            </td>
                        </tr>

                        <tr>
                            <td>
                                Ширина изделия по низу
                            </td>
                            <td>
                                34
                            </td>
                            <td>
                                36
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>

                        <tr>
                            <td>
                                Ширина рукава по низу
                            </td>
                            <td>
                                12
                            </td>
                            <td>
                                13
                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="popup__table-wrapper">
                <div class="popup__title">
                    Таблица размеров
                </div>

                <div class="table-sizes__wrapper">
                    <table class="table-sizes" width="100%">
                        <tbody>
                        <tr>
                            <th>
                                размер
                            </th>
                            <th>
                                XSS
                            </th>
                            <th>
                                XS
                            </th>
                            <th>
                                S
                            </th>
                            <th>
                                M
                            </th>
                            <th>
                                L
                            </th>

                        </tr>
                        <tr>
                            <td>
                                FRANCE
                            </td>
                            <td>
                                32
                            </td>
                            <td>
                                34
                            </td>
                            <td>
                                36
                            </td>
                            <td>
                                38
                            </td>

                            <td>
                                40
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>




        </div>
    </div>
</div>
