<div class="popup typical-popup thk-delete-popup" data-popup="thk-delete">
    <div class="popup-wrapper">
        <div class="close-popup button-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="black" />
                <path d="M1 1L13 13" stroke="black" />
            </svg>
        </div>
        <div class="popup-content">
            <div class="typical-popup__title">
                удаление аккаунта
            </div>


            <div class="typical-popup__text" style="text-align: center">
                ваш аккаунт удален
            </div>

        </div>

    </div>
</div>
