<div class="filter" data-popup="filter">
    <div class="filter-wrapper">
        <div class="filter-close button-close">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13 1L1 13" stroke="black" />
                <path d="M1 1L13 13" stroke="black" />
            </svg>
        </div>

        <div class="filter-accordion">
            <div class="filter-accordion__item">
                <div class="filter-accordion__title">
                    <span>цвет</span>
                    <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.5L5 5.5L9 1.5" stroke="black" stroke-width="2" />
                    </svg>
                </div>
                <div class="filter-accordion__content">
                    <div class="filter-accordion__content-wrapper">
                        <label>
                            <input id="color1"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color1"
                                   required=""
                            >
                            <label for="color1" class="form-control__text">
                                <span>
                                    бежевый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color2"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color2"
                                   required=""
                            >
                            <label for="color2" class="form-control__text">
                                <span>
                                    принт
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color3"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color3"
                                   required=""
                            >
                            <label for="color3" class="form-control__text">
                                <span>
                                    белый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color4"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color4"
                                   required=""
                            >
                            <label for="color4" class="form-control__text">
                                <span>
                                    Розовый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color5"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color5"
                                   required=""
                            >
                            <label for="color5" class="form-control__text">
                                <span>
                                    желтый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color6"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color6"
                                   required=""
                            >
                            <label for="color6" class="form-control__text">
                                <span>
                                    Серый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color7"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color7"
                                   required=""
                            >
                            <label for="color7" class="form-control__text">
                                <span>
                                    зеленый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color8"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color8"
                                   required=""
                            >
                            <label for="color8" class="form-control__text">
                                <span>
                                    Синий
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color9"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color9"
                                   required=""
                            >
                            <label for="color9" class="form-control__text">
                                <span>
                                    Коричневый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color10"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color10"
                                   required=""
                            >
                            <label for="color10" class="form-control__text">
                                <span>
                                    Сиреневый
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color11"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color11"
                                   required=""
                            >
                            <label for="color11" class="form-control__text">
                                <span>
                                    Красный
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="color12"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="color12"
                                   required=""
                            >
                            <label for="color12" class="form-control__text">
                                <span>
                                    Черный
                                </span>
                            </label>
                        </label>
                    </div>

                </div>
            </div>
            <div class="filter-accordion__item">
                <div class="filter-accordion__title">
                    <span>размер</span>
                    <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.5L5 5.5L9 1.5" stroke="black" stroke-width="2" />
                    </svg>
                </div>
                <div class="filter-accordion__content">
                    <div class="filter-accordion__content-wrapper">
                        <label>
                            <input id="size1"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="size1"
                                   required=""
                            >
                            <label for="size1" class="form-control__text">
                                <span>
                                    XS
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="size2"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="size2"
                                   required=""
                            >
                            <label for="size2" class="form-control__text">
                                <span>
                                    L
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="size3"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="size3"
                                   required=""
                            >
                            <label for="size3" class="form-control__text">
                                <span>
                                    S
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="size4"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="size4"
                                   required=""
                            >
                            <label for="size4" class="form-control__text">
                                <span>
                                    One size
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="size5"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="size5"
                                   required=""
                            >
                            <label for="size5" class="form-control__text">
                                <span>
                                    M
                                </span>
                            </label>
                        </label>
                    </div>

                </div>
            </div>
            <div class="filter-accordion__item">
                <div class="filter-accordion__title">
                    <span>материал</span>
                    <svg width="10" height="7" viewBox="0 0 10 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1.5L5 5.5L9 1.5" stroke="black" stroke-width="2" />
                    </svg>
                </div>

                <div class="filter-accordion__content">
                    <div class="filter-accordion__content-wrapper">
                        <label>
                            <input id="material1"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="material1"
                                   required=""
                            >
                            <label for="material1" class="form-control__text">
                                <span>
                                    Вискоза
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="material2"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="material2"
                                   required=""
                            >
                            <label for="material2" class="form-control__text">
                                <span>
                                    хлопок
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="material3"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="material3"
                                   required=""
                            >
                            <label for="material3" class="form-control__text">
                                <span>
                                    лен
                                </span>
                            </label>
                        </label>

                        <label>
                            <input id="material4"
                                   class="custom-checkbox"
                                   type="checkbox"
                                   name="material4"
                                   required=""
                            >
                            <label for="material4" class="form-control__text">
                                <span>
                                    шерсть
                                </span>
                            </label>
                        </label>
                    </div>

                </div>
            </div>
        </div>



        <div class="filter-price">
            <div class="filter-price__title">
                цена
            </div>
            <div class="filter-price-wrapper">
                <div class="filter-price__item">
                    <input type="text" placeholder="699">
                </div>

                -

                <div class="filter-price__item">
                    <input type="text" placeholder="60 999">
                </div>
            </div>

        </div>

        <div class="filter-checkboxes">
            <label>
                <input id="shop1"
                       class="custom-checkbox"
                       type="checkbox"
                       name="shop1"
                       required=""
                >
                <label for="shop1" class="form-control__text">
                                <span>
                                    В офлайн-магазине
                                </span>
                </label>
            </label>

            <label>
                <input id="shop2"
                       class="custom-checkbox"
                       type="checkbox"
                       name="shop2"
                       required=""
                >
                <label for="shop2" class="form-control__text">
                                <span>
                                    В офлайн-магазине
                                </span>
                </label>
            </label>
        </div>

        <div class="filter-btn-wrapper">
            <div class="filter-btn">
                применить
            </div>

            <div class="filter-btn">
                сбросить фильтр
            </div>
        </div>
    </div>
</div>
