<div class="pagination">
    <ul>
        <li class="pagination-arrow prev">
            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.15375 11.6532L7.20775 10.5687L3.3885 6.74945H15.5V5.24945H3.3885L7.20775 1.4302L6.15375 0.345703L0.5 5.99945L6.15375 11.6532Z" fill="#909090" />
            </svg>

            Назад
        </li>

        <li class="active">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li class="pagination-dots">...</li>
        <li>7</li>

        <li class="pagination-arrow next">
            Дальше

            <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.84625 11.6532L8.79225 10.5687L12.6115 6.74945H0.5V5.24945H12.6115L8.79225 1.4302L9.84625 0.345703L15.5 5.99945L9.84625 11.6532Z" fill="#909090" />
            </svg>
        </li>
    </ul>
</div>
