.pagination {
  margin: 115px 0;
  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 20px;
  }

  &-dots {
    pointer-events: none;
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;

    @include media(700) {
      gap: 10px;
    }

    li {
      font-weight: 500;
      font-size: 18px;
      color: #909090;
      cursor: pointer;

      a {
        color: #909090;
      }

      &.active,
      &:hover {
        color: #000;

        a {
          color: #000;
        }

        svg path {
          fill: #000
        }
      }

      &.prev {
        margin-right: 180px;

        @include media(700) {
          margin-right: 20px;
        }
      }

      &.next {
        margin-left: 180px;

        @include media(700) {
          margin-left: 20px;
        }
      }

      &.dots {
        span {
          font-size: 14px;
        }

        &:hover {
          background: transparent;
          border: 1px solid #D2D3E1;

          span {
            color: initial;
          }
        }
      }

      &.disabled {
        pointer-events: none;
      }
    }
  }

  &-arrow {
    font-weight: 500;
    font-size: 16px !important;
    text-transform: uppercase;
    color: #909090;
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
