<div class="cookie">
    <div class="cookie-text-wrapper">
        <div class="cookie__title">
            Мы используем файлы cookie
        </div>

        <div class="cookie__text">
            Для обеспечения оптимальной работы анализа, использования и улучшения пользовательского опыта на сайте используются технологии cookie. Продолжая пользоваться сайтом, вы соглашаетесь с размещением cookie-файлов на Вашем устройстве на условиях, изложенных в <a href="#">Политике конфиденциальности.</a>
        </div>
    </div>

    <div class="cookie-btn-wrapper">
        <div class="btn cookie__btn cookie__btn_black accept-cookie">
            Принять
        </div>

        <a href="#" class="btn cookie__btn cookie-info">
            Отклонить
        </a>

        <div class="btn cookie__btn cookie-settings">
            подробнее
        </div>
    </div>
</div>
