<div class="catalog-goods @@class">
    @@if(context.grid_3) {
        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })
    }


    @@if(context.grid_6) {
        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })
        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })
    }

    @@if(context.grid_12) {
        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })
        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })
        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/22.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })

        @@include('../good/good.html', {
        "src": "images/goods/23.png",
        })
    }

</div>
