.start-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  cursor: pointer;
  z-index: 9;
  background: rgba(255,255,255,0.9);

  @include media(1350) {
    width: 40px;
    height: 40px;
  }
}
